<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Reprograma}</title>
    <style>
      html,
      body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <main>
      <img
        src="/images/404error.png"
        alt="garota de cabelos pretos com a mão na cabeça olhando para um computador que diz '404 error page not found'"
        height="536"
        style="vertical-align: center"
      />
    </main>
  </body>
</html>
